{% extends 'basic.html' %}
<!-- {% for slip in slip_id %}
{{slip.0.slip_id}}
{% endfor %} -->
{% block title %} New Slip {% endblock %}
{% block css %}
<style>
  .row {
    --bs-gutter-x: -0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
</style>
{% endblock %}
{% block body %}
<div class="container">
  {% for item in allitems %}
  <h1 align="center" style="font-family: serif;" class="my-2">{{item.0.category}}</h1>
  <div class="row">
    {% for item in item %}
    <div class="card my-4" style="width: 18rem;">
      <img src="/media/{{item.image}}" style="height: 280px;align-content: center;" class="card-img-top" alt="{{item.item_name}}">
      <div class="card-body">
        <h5 class="card-title">{{item.item_name}}</h5>
        <h6 class="card-text">Dryclean: &#8377;{{item.price}}</h6>
        <h6 class="card-text">Press: &#8377;{{item.price_press}}</h6>
        <button class="btn btn-primary" name="dryclean" id="dryclean">Dryclean</button>
        <button class="btn btn-primary" name="press" id="press">Press</button>
      </div>
    </div>
    {% if forloop.counter|divisibleby:4 %}
  </div>
  <div class="row">
    {% endif %}
    {% endfor%}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}